################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Shreenextech_1.0/v17
/shreenextech-api/ShreenexTech.API/.vs/ShreenexTech.API/FileContentIndex
