################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Shreenextech_1.0/v17
/shreenextech-api/ShreenexTech.API/.vs/ShreenexTech.API/FileContentIndex
/shreenextech-api/ShreenexTech.API/.vs/ShreenexTech.API/CopilotIndices/17.14.1593.33849
/shreenextech-api/ShreenexTech.API/.vs/ShreenexTech.API/v17/.suo
/shreenextech-api/ShreenexTech.API/obj/project.assets.json
/shreenextech-api/ShreenexTech.API/obj/project.nuget.cache
/shreenextech-api/ShreenexTech.API/obj/ShreenexTech.API.csproj.nuget.dgspec.json
/shreenextech-api/ShreenexTech.API/obj/ShreenexTech.API.csproj.nuget.g.props
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/rpswa.dswa.cache.json
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.AssemblyInfoInputs.cache
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.assets.cache
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.AssemblyInfo.cs
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.csproj.AssemblyReference.cache
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.GeneratedMSBuildEditorConfig.editorconfig
/shreenextech-api/ShreenexTech.API/bin/Debug/net8.0/ShreenexTech.API.dll
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ref/ShreenexTech.API.dll
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/refint/ShreenexTech.API.dll
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/apphost.exe
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/shreenextech-api/ShreenexTech.API/bin/Debug/net8.0/ShreenexTech.API.exe
/shreenextech-api/ShreenexTech.API/bin/Debug/net8.0/ShreenexTech.API.pdb
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.AssemblyInfo.cs
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.AssemblyInfoInputs.cache
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.dll
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.pdb
/shreenextech-api/ShreenexTech.API/obj/Debug/net8.0/ShreenexTech.API.sourcelink.json
/shreenextech-api/ShreenexTech.API/.vs/ShreenexTech.API/v17/.suo
/shreenextech-api/ShreenexTech.API/.vs/ShreenexTech.API/v17/DocumentLayout.backup.json
/shreenextech-api/ShreenexTech.API/.vs/ShreenexTech.API/v17/DocumentLayout.json
